<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>

            <!-- Productos -->
            <section class="productosDestacados__main">
                <h2>Resultados de su búsqueda: "<%= product %>"</h2>
                <% if( result ) {%> 
                <% products.forEach(producto=> { %>
                    <%- include('../partials/product', {producto})%>

                        <% })} else {%>
                        <p class='no-results'>No hay resultados para su búsqueda</p>
                        <% } %>


            </section>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
            <script src="/js/agregarProducto.js"></script>





    </body>

</html>